{% extends "pages/dashboard/dashboard.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block dashboard_title %}
Physical Sponsors
{% endblock %}
{% block filter_form %}
<form method="post">
    {% csrf_token %}
    <div class="modal-body">
        {{ filter_form|crispy }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Show results</button>
    </div>
</form>
{% endblock %}
{% block tabcontent %}
<div class="row align-items-center w-100" style="min-height: 55px;border-radius: 10px;">
    <div class="col">#</div>
    <div class="col" style="display: flex;margin-left: -50px;min-width: 235px;max-width: 300px;">Full Name</div>
    <div class="col">Phone Number</div>
    <div class="col">Payment Amount</div>
    <div class="col">Date</div>
    <div class="col">Status</div>
    <div class="col">Activity</div>
</div>
<br>
{% for sponsor in page_obj %}
<div class="row bg-white align-items-center border-rounded w-100 field-values"
    style="min-height: 55px;border-radius: 10px;">
    <div class="col"><b>{{forloop.counter}}</b></div>
    <div class="col" style="display: flex;margin-left: -120px;min-width: 300px;max-width: 300px;"><b>{{sponsor.fullname}}</b></div>
    <div class="col"><b>{{sponsor.phone}}</b></div>
    <div class="col"><p>{{sponsor.payment_amount|parse_money}}<i>UZS</i><p></div>
    <div class="col">{{sponsor.created_at}}</div>
    <div class="col">
        {% if sponsor.status == "pending" %}
        <span style="color: gray;"><b>{{sponsor.status}}</b></span>
        {% elif sponsor.status == "verified" %}
        <span style="color: green;"><b>{{sponsor.status}}</b></span>
        {% elif sponsor.status == "new" %}
        <span style="color: rgb(19, 60, 245);"><b>{{sponsor.status}}</b></span>
        {% elif sponsor.status == "rejected" %}
        <span style="color: rgb(230, 10, 10);"><b>{{sponsor.status}}</b></span>
        {% endif %}
    </div>
    <div class="col">Active</div>
</div>
<br>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        <span class="current">
            Page {{ page_obj.number }} of
            {{page_obj.paginator.num_pages}}.
        </span>
    </span>
</div>
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page=1#org-sponsors">&laquo;
            first</a>
    </li>
    <li class="page-item">
        <a class="page-link"
            href="?page={{page_obj.previous_page_number}}#org-sponsors"
            aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    {% endif %}
    {% for num_page in page_obj.paginator.num_pages|range_pages %}
    <li class="page-item"><a class="page-link"
            href="?page={{num_page}}#org-sponsors">{{num_page}}</a></li>
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" aria-label="Next"
            href="?page={{page_obj.next_page_number }}#org-sponsors"><span
                aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span></a>
    </li>
    <li class="page-item">
        <a class="page-link"
            href="?page={{page_obj.paginator.num_pages}}#org-sponsors">last
            &raquo;</a>
    </li>
    {% endif %}
</ul>
{% endblock %}