{% extends "pages/dashboard/dashboard.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block tabcontent_nav %}
<nav class="navbar navbar-light bg-white">
	<ul class="nav nav-pills nav-justified mr-auto"
            id="ex1"
            role="tablist">
        <li class="nav-item">
			<a href="#back" style="font-weight: 900;">back</a>
		</li>
		<li class="nav-item" style="margin-left: 30px;">
			<span class="navbar-brand mb-0 h1">{{student.fullname}}</span>
		</li>
	</ul>
</nav>
{% endblock %}
{% block tabcontent %}
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="studentEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Student Change Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{% url 'dashboard-student-edit' student.pk %}">
      	{% csrf_token %}
	      <div class="modal-body">
	        	{{ change_form|crispy }}
	      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>

    </div>
  </div>
</div>
<div class="card w-50" style="border: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;">
  <div>
		<a href="#" data-toggle="modal" data-target="#studentEditModal">
		  Edit
		</a>
		<div>
			<br>
			<span style="font-weight: 300;">Unpaid Tution Fee</span>
			<br>
			<b style="font-weight: 600;">{{student.unpaid_tution_fee|parse_money}}</b>
		</div>
	</div>
	<div style="font-weight: 300;">
		<div>
			<b style="font-weight: 600;">{{student.fullname}}</b>
		</div>
		<div>
			<br>
			<span style="font-weight: 300;">Phone</span>
			<br>
			<b style="font-weight: 600;">{{student.phone}}</b>
		</div>
		<div>
			<br>
			<span style="font-weight: 300;">College</span>
			<br>
			<b style="font-weight: 600;">{{student.college}}</b>
		</div>
		<div>
			<br>
			<span style="font-weight: 300;">Tution Fee</span>
			<br>
			<b style="font-weight: 600;">{{student.tution_fee|parse_money}}</b>
		</div>
	</div>
</div>
{% include "pages/dashboard/transactions.html" with transactions=transactions %}
{% endblock %}